header {
    display: flex;
    height: 100px;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #ccc;
}

h1{
    font-family: 'Lato', sans-serif;
    font-weight: 100;
}