
@import url('https://fonts.googleapis.com/css?family=Roboto:500&display=swap');

.hover-list {
  color:white;
  font-family: 'Roboto', sans-serif;
  list-style: none;
  position: relative;
  display: inline;
}
.hover-list:hover{
  color:#333;
}
.hover-list:after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 1px;
  width: 0px;
  height: 2px;
  background: #333;
  transition: all 0.45s;
}

.hover-list:hover:after {
  width: 100%;
  left: 0;
}
